/* As hex codes */

.color-primary-0 { color: #D38647 }	/* Main Primary color */
.color-primary-1 { color: #FFCDA3 }
.color-primary-2 { color: #F5AE73 }
.color-primary-3 { color: #B56726 }
.color-primary-4 { color: #8F480D }


* {
    box-sizing: border-box;
}

html {
    background-color: #FFCDA3;
    background-image: url("/img/asfalt-dark.png");
    
    
    
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
    margin: 10px;
}

p {
    margin: 10px;
    
}

.container {
    width: 800px;
}

/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background: #a1a1a1;
    color: black;
    

}

.navbar {
    overflow: hidden;
    background-color: #B56726;
    background-image: url("/img/45-degree-fabric-light.png");
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    color: grey;
    font-weight: bold;
    border-radius: 25px;
}

.bar-item {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    color: black;
    background-color: #B56726;
    background-image: url("/img/45-degree-fabric-light.png");

}

.bar-item:hover {
    background-color: #F5AE73;
    color: black;
}

.content {
    background-color: #B56726;
    background-image: url("/img/45-degree-fabric-light.png");
    border-color: #ABABAB;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-right-style: solid;
    border-right-width: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 25px;
    padding: 20px;
}


.footer {
    padding: 20px;
    text-align: center;
    background-color: #B56726;
    background-image: url("/img/45-degree-fabric-light.png");
    text-decoration: none;
    color: #000000;
    border-radius: 25px;
}

.footer a{
    text-decoration: underline;
    color: #000000;
}

